# --- Utils ---
uv

# --- Core Framework & Math ---
pennylane
numpy
statsmodels

# --- Hardware Plugins & SDKs ---
qiskit
qiskit-aer
qiskit-ibm-runtime
pennylane-qiskit
amazon-braket-sdk
amazon-braket-pennylane-plugin
pylatexenc

# --- Data Handling & Configuration ---
pandas
PyYAML

# --- Visualization & Formatting ---
matplotlib
seaborn
rich

# --- Workspace & Testing ---
jupyter
ipykernel
pytest
